<script type="module" src="js/main/logout.js"></script>
<script type="module" src="js/main/toggleSidebar.js"></script>
<script type="module" src="js/main/originalScript.js"></script>

</body>
</html>
