<script type="module" src="js/main/start.js"></script>
<script type="module" src="js/main/logout.js"></script>
<script type="module" src="js/main/toggleSidebar.js"></script>
<script type="module" src="js/main/loadMeshStl.js"></script>
<script type="module" src="js/main/addShadowedLight.js"></script>
<script type="module" src="js/main/onDocumentMouseMove.js"></script>
<script type="module" src="js/main/onWindowResize.js"></script>
<script type="module" src="js/main/keyboard.js"></script>
<script type="module" src="js/main/init.js"></script>
<script type="module" src="js/main/animate.js"></script>
<script type="module" src="js/main/run.js"></script>


</body>
</html>
