<% var title = 'Login to 3D viewer' %>
<% include head %>

<div class="login-container">
  <div class="login">
    <h1>Welcome to 3D Viewer</h1>

    <form method="post" action="/login">
      <div class="input-row">
        <label>Username:&nbsp;</label>
        <input type="text" name="username">
      </div>
      <div class="input-row">
        <label>Password:&nbsp;</label>
        <input type="text" name="password">
      </div>
      <div class="button-wrapper">
        <input class="submit" type="submit" value="Login">
      </div>

      <p class="error">
      <%- error %>
      </p>
    </form>
  <div>
<div>

<% include foot %>
