<!--
3D Viewer v0.1
Copyright (C) 2019 Andreas Glatz andi@contilio.com
-->

<% var title = 'Mesh - 3D viewer' %>
<% include head %>

	<body>
		<div id="info"></div>

		<button id="logout">
			LOGOUT
		</button>

		<button id="toggle-sidebar">
			S
		</button>

		<div id="sidebar">
			<h2>
				MESHES
			</h2>

			<div id="meshes">
			</div>
		</div>

<% include foot %>
