canvas {
	display: block;
}

#info {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	color: #3480eb;
	max-width: 200px;
	word-break: break-word;
	z-index: 1; /* TODO Solve this in HTML */
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#logout {
	position: fixed;
	cursor: pointer;
	top: 20px;
	right: 20px;
	border: 1px solid #3480eb;
	background: #3480eb;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	border-radius: 4px;
}

#logout:hover {
	background: #fff;
	color: #3480eb;
	border: 1px solid #3480eb;
	transition: 0.7s;
}

#toggle-sidebar {
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #3480eb;
	background: #3480eb;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	border-radius: 40px;
}

#toggle-sidebar:hover {
	background: #fff;
	color: #3480eb;
	border: 1px solid #3480eb;
	transition: 0.7s;
}

#sidebar {
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	width: 400px;
	bottom: 80px;
	left: 20px;
	height: calc(100% - 20vh);
	background: #000a;
	color: #fff;
	border-radius: 20px;
}

#sidebar h2 {
	width: 380px;
	margin-top: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #3480eb;
	padding: 10px;
	text-align: center;
	font-size: 16px;
}

.mesh-row {
	width: 380px;
	text-align: center;
	word-break: break-all;
	padding: 10px;
	border-bottom: 1px solid white;
}

.mesh-content {
	width: 380px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mesh-button-toggle {
	background: #3480eb;
	border: none;
	cursor: pointer;
	padding: 10px;
	color: #fff;
}

.mesh-button-show {
	background: #3480eb;
	border: none;
	cursor: pointer;
	padding: 10px;
	color: #fff;
	margin-left: 10px;
}
