body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
	pointer-events: auto;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.login {
	padding: 10px;
	border: 1px solid #fff
}

h1 {
	text-align: center;
	display: block;
}

.input-row {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

.submit {
	display: block;
	background: #ff0;
	color: #000;
	font-weight: 700;
	padding: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	border-radius: 4px;
}

.error {
	color: #ca0000;
	font-size: 16px;
	text-align: center;
	max-width: 334px;
	word-break: break-all;
}
